body {
  background: linear-gradient(
    rgba(255, 82, 51, 0.9), 
    rgba(255, 82, 51, 0.9)
  ), url("src/assets/users-bg.png");
 }

#logo h3, #logo h6 {
  color: #ffffff;
  margin: 0;
}

#logo-image {
  background-image: url("src/assets/logo.png");
  width: 34px;
  height: 34px;
}

#clear-all-icon {
  color: #ffffff;
}

#content-about, #content-login {
  max-width: 400px;
}

#content-about h2, #content-about h6 {
  color: #ffffff;
  text-align: left;
}

#register-button {
  color: #ffffff;
  border-width: 2px;
  border-color: #ffffff;
}

#register-button:hover {
  background-color: rgba(199, 199, 199, 0.3)
}

#power-icon {
  color: rgb(185, 185, 185);
  padding: 30px;
  background: #ffffff;
}

#plus-icon {
  color: rgb(226, 81, 81);
  padding: 30px;
  background: #ffffff;
}

.mat-card {
  text-align: left;
}

#forgot-my-password {
  white-space: nowrap;
}

#login-button {
  color: #ffffff;
  background-color: rgb(255, 102, 0);
}

#facebook-button {
  color: #ffffff;
  background-color: #3b5998;
}

#twitter-button {
  color: #ffffff;
  background-color: #38A1F3;
}
