<body fxLayoutAlign="center center">
  <!-- Main div -->
  <div fxLayout="column" fxLayoutAlign="center center" fxFlex.lt-sm="90" fxLayoutGap="30px">
    <!-- Logo row -->
    <div fxLayout="row" fxLayoutAlign="space-between center" fxFill> 
      <div id="logo" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
        <div id="logo-image"></div>
        <div fxLayout="column" fxLayoutAlign="center start">
          <h3>OLYMPUS</h3>
          <h6>SOCIAL NETWORK</h6>
        </div>
      </div>
      <mat-icon id="clear-all-icon">clear_all</mat-icon>
    </div>
    <!-- Content row -->
    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="space-between center" fxLayoutAlign.lt-sm="start center" fxLayoutGap="30px" fxFill> 
      <!-- About site -->
      <div id="content-about" fxLayout="column" fxLayoutAlign="center start">
        <h2>Welcome to the Biggest Social Network in the World</h2>
        <h6>
          We are the best and biggest social network with 5 bilion active users all around the world.
          Share your thoughts, write blog posts, show your favorite music via Spotify, earn badges and much more!
        </h6>
        <button id="register-button" mat-stroked-button (click)="onRegister()">Register Now!</button>
      </div>
      <!-- Login form -->
      <div id="content-login" fxLayout="row" fxLayout.lt-sm="column">
        <div fxLayout="column" fxLayout.lt-sm="row" fxLayoutAlign="space-around strech">
          <div id="power-icon" fxLayoutAlign="center center" fxFlex="50">
            <mat-icon>power_settings_new</mat-icon>
          </div>
          <div id="plus-icon" fxLayoutAlign="center center" fxFlex>
            <mat-icon>autorenew</mat-icon>
          </div>
        </div>
        <mat-card>
          <h6>Login to your Account</h6>
          <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
            <!-- Email -->
            <mat-form-field fxFill>
              <mat-label for="email">Email</mat-label>
              <input matInput type="text" formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" autofocus/>
              <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">Email is required.</div>
                <div *ngIf="f.email.errors.email">Must be a valid email address.</div>
              </div>
            </mat-form-field>
            <!-- Password -->
            <mat-form-field fxFill>
              <mat-label for="password">Password</mat-label>
              <input matInput type="password" formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
              <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                <div *ngIf="f.password.errors.required">Password is required.</div>
              </div>
            </mat-form-field>
            <!-- Remember me and forgot my password -->
            <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px" fxFill>
              <mat-checkbox><h6>Remember me</h6></mat-checkbox>
              <a href=""><h6 id="forgot-my-password">Forgot my password</h6></a>
            </div>
            <!-- Buttons -->
            <div class="form-group" fxLayout="column" fxLayoutGap="10px">
              <button id="login-button" mat-button [disabled]="loading" fxFill>Login</button>
              <img *ngIf="loading" class="pl-3" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
              <div>
                <mat-divider></mat-divider>
              </div>
              <button id="facebook-button" mat-button fxFill>Login with Facebook</button>
              <button id="twitter-button" mat-button fxFill>Login with Twitter</button>
              <h6>Don't you have an account? <a href="">Register Now!</a> It's realy simple and you can start enjoying all the benefits!</h6>
            </div>
          </form>
        </mat-card>
      </div>
    </div>
  </div>
</body>