.avatar {
  background-image: url("src/assets/avatar.jpg");
  width: 80px;
  height: 80px;
  margin: -70px 0 0 0;
}
  
.avatar-small {
  background-image: url("src/assets/avatar.jpg");
  background-size: 40px;
}

.avatar-overlap {
  margin: 0 0 0 -20px;
}

.avatar1 {
  background-image: url("src/assets/avatar1.jpg");
  background-size: 40px;
}

.avatar2 {
  background-image: url("src/assets/avatar2.jpg");
  background-size: 40px;
}

.avatar3 {
  background-image: url("src/assets/avatar3.jpg");
  background-size: 40px;
}

.avatar4 {
  background-image: url("src/assets/avatar4.jpg");
  background-size: 40px;
}

.avatar5 {
  background-image: url("src/assets/avatar5.jpg");
  background-size: 40px;
}

.avatar6 {
  background-image: url("src/assets/avatar6.jpg");
  background-size: 40px;
}

.avatar7 {
  background-image: url("src/assets/avatar7.jpg");
  background-size: 40px;
}

.avatar8 {
  background-image: url("src/assets/avatar8.jpg");
  background-size: 40px;
}

.avatar9 {
  background-image: url("src/assets/avatar9.jpg");
  background-size: 40px;
}

.avatar10 {
  background-image: url("src/assets/avatar10.jpg");
  background-size: 40px;
}

.avatar11 {
  background-image: url("src/assets/avatar11.jpg");
  background-size: 40px;
}

.avatar-sm {
  background-image: url("src/assets/avatar.jpg");
  width: 80px;
  height: 80px;
}