#badge1 {
  background-image: url("src/assets/badge1.jpg");
  width: 35px;
  height: 35px;
}

#badge2 {
  background-image: url("src/assets/badge2.jpg");
  width: 35px;
  height: 35px;
}

#badge3 {
  background-image: url("src/assets/badge3.jpg");
  width: 35px;
  height: 35px;
}

#badge4 {
  background-image: url("src/assets/badge4.jpg");
  width: 35px;
  height: 35px;
}

#badge4 {
  background-image: url("src/assets/badge4.jpg");
  width: 35px;
  height: 35px;
}

#badge5 {
  background-image: url("src/assets/badge5.jpg");
  width: 35px;
  height: 35px;
}

#badge6 {
  background-image: url("src/assets/badge6.jpg");
  width: 35px;
  height: 35px;
}

#badge7 {
  background-image: url("src/assets/badge7.jpg");
  width: 35px;
  height: 35px;
}

#badge8 {
  background-image: url("src/assets/badge8.jpg");
  width: 35px;
  height: 35px;
}

#badge9 {
  background-image: url("src/assets/badge9.jpg");
  width: 35px;
  height: 35px;
}

#badge10 {
  background-image: url("src/assets/badge10.jpg");
  width: 35px;
  height: 35px;
}
