#photo1 {
    background-image: url("src/assets/photo1.jpg");
    width: 60px;
    height: 60px;
  }
  
  #photo2 {
    background-image: url("src/assets/photo2.jpg");
    width: 60px;
    height: 60px;
  }
  
  #photo3 {
    background-image: url("src/assets/photo3.jpg");
    width: 60px;
    height: 60px;
  }
  
  #photo4 {
    background-image: url("src/assets/photo4.jpg");
    width: 60px;
    height: 60px;
  }
  
  #photo5 {
    background-image: url("src/assets/photo5.jpg");
    width: 60px;
    height: 60px;
  }
  
  #photo6 {
    background-image: url("src/assets/photo6.jpg");
    width: 60px;
    height: 60px;
  }
  
  #photo7 {
    background-image: url("src/assets/photo7.jpg");
    width: 60px;
    height: 60px;
  }
  
  #photo8 {
    background-image: url("src/assets/photo8.jpg");
    width: 60px;
    height: 60px;
  }
  
  #photo9 {
    background-image: url("src/assets/photo9.jpg");
    width: 60px;
    height: 60px;
  }
  