body {
  background: linear-gradient(
    rgba(255, 82, 51, 0.9), 
    rgba(255, 82, 51, 0.9)
  ), url("src/assets/users-bg.png");
 }

 #logo h3, #logo h6 {
  color: #ffffff;
  margin: 0;
}

#logo-image {
  background-image: url("src/assets/logo.png");
  width: 34px;
  height: 34px;
}

#clear-all-icon {
  color: #ffffff;
}

#content-about, #content-register {
  max-width: 500px;
}

#content-about h2, #content-about h6 {
  color: #ffffff;
  text-align: left;
}

#power-icon {
  color: rgb(185, 185, 185);
  padding: 30px;
  background: #ffffff;
}

#plus-icon {
  color: rgb(226, 81, 81);
  padding: 30px;
  background: #ffffff;
}

.mat-card {
  text-align: left;
}

#complete-button {
  background-color: blueviolet;
  color: #ffffff;
}
